<p> Order ID: <%= @order.id %></p>
<p> Quantity: <%= @order.quantity %></p>
<p> Subtotal: <%= number_to_currency(@order.sub_total) %> </p>
<p> Tax: <%= number_to_currency(@order.tax) %> </p>
<p> Total: <%= number_to_currency(@order.total) %> </p>