<h1> Edit </h1>

<%= form_tag "/records/#{@record.id}", method: :patch do%>
  

  <div>
    <%= label_tag :artist %>
    <%= text_field_tag :artist, @record.artist %>

  </div>

  <div>
      <%= label_tag :title %>
      <%= text_field_tag :title, @record.title%>
  </div>


  <div>
      <% @record.images.each do |image| %>
      <%= label_tag :image %>
      <%= text_field_tag :image, image.image%>
      <% end %>
  </div>

  

  <div>
      <%= label_tag :price %>
      <%= text_field_tag :price, @record.price %>
  </div>

  <div>
      <%= label_tag :description %>
      <%= text_field_tag :description, @record.description%>
  </div>

   <div>
      <% @categories.each do |category| %>
      <%= check_box_tag(category.name, category.id)%>
      <%= label_tag(category.name, category.name) %>
      <% end %>
  </div> 
<%= submit_tag "Update Record"%>
<% end %>