<% @records.each do |record|%>
<a href="/records/<%= record.id %>" ><p><img src=<%= record.image %>></p></a>
<p id="artist_id"><%= record.artist %></p>
<p id='title_id'> <%= record.title %></p>
<p id='price_id'><%= record.price %></p>
<p id='description_id'><%= record.description %></p>
<%= link_to "Edit Record", "/records/#{record.id}/edit" %>
<%= link_to "Delete Record", "/records/#{record.id}", method: :delete %>
<hr>

<% end %>

<%= link_to "Add New Record", '/records/new' %>
