<section>
    <div class="row">
      
      
      <% @records.each do |record|%>
        
            <div   class='col-md-4 panel_block'>
              
              <% if record.images.any? %>
                <a href="/records/<%= record.id %>" ><p><img src="<%= record.images.first.image%>" width="300"></p></a>
              <% end %>
              <p id="artist_id"><%= record.artist %></p>
              <p id='title_id'> <%= record.title %></p>
              <p id='price_id'><%= number_to_currency(record.price) %></p>
              <p id='description_id'><%= record.description %></p>
              <% if user_signed_in? && current_user.admin %>
              <%= link_to "Edit Record", "/records/#{record.id}/edit" %>
              <%= link_to "Delete Record", "/records/#{record.id}", method: :delete %>
              <% end %>

             
              </div>
        <% end %>
       
      </div>

</section>

<% if user_signed_in? && current_user.admin %>
<%= link_to "Add New Record", '/records/new' %>
<% end %>