<% @records.each do |record|%>
<a href="/records/<%= record.id %>" ><p><img src=<%= record.image %>></p></a>
<p id="artist"><%= record.artist %></p>
<p id='title'> <%= record.title %></p>
<p id='price'><%= record.price %></p>
<p id='description'><%= record.description %></p>
<hr>


<% end %>

<%= link_to "Add New Record", '/records/new' %>
