<% if @record && @record.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@record.errors.count, "error") %> prohibited this article from being saved:</h2>
 
    <ul>
    <% @record.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1> Add a new record </h1>

<%= form_tag '/records', method: :post do%>

  <div>
      <%= label_tag :image_1 %>
      <%= text_field_tag :image_1 %>
  </div>

  <div>
      <%= label_tag :image_2 %>
      <%= text_field_tag :image_2 %>
  </div>
 
  <div>
    <%= label_tag :artist %>
    <%= text_field_tag :artist, @record.artist  %>

  </div>

  <div>
      <%= label_tag :title %>
      <%= text_field_tag :title, @record.title %>
  </div>

  <div>
      <%= label_tag :price %>
      <%= text_field_tag :price, @record.price%>
  </div>

  <div>
      <%= label_tag :description %>
      <%= text_field_tag :description, @record.description %>
  </div>

  <div>
    <% @categories.each do |category| %>
    <%= check_box_tag(category.name, category.id)%>
    <%= label_tag(category.name, category.name) %>
    <% end %>
  </div>
  <div>
  <%= collection_select :supplier, :supplier_id, Supplier.all, :id, :name %>
  </div>


<%= submit_tag "Add Record"%>
<% end %>