<h1> Add a new record </h1>

<%= form_tag '/records', method: :post do%>
  
  <div>
    <%= label_tag :image %>
    <%= text_field_tag :image %>
  </div>

  <div>
    <%= label_tag :artist %>
    <%= text_field_tag :artist %>

  </div>

  <div>
      <%= label_tag :title %>
      <%= text_field_tag :title %>
  </div>

  <div>
      <%= label_tag :price %>
      <%= text_field_tag :price %>
  </div>

  <div>
      <%= label_tag :description %>
      <%= text_field_tag :description %>
  </div>

<%= submit_tag "Add Record"%>
<% end %>